body
{
    background-repeat: repeat;
    word-wrap: break-word;
}

#body-block
{
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    background-image: url("../images/mosaics-background.jpg");
    background-size: 150px;
}

/* Début header */
header
{
    position: relative;
}

#header-title
{
    position: relative;
    background-color: #333333;
}

/* Début création menu burger */
#header-burger-icon
{
    display: none;
    position: absolute;
    height: 40px;
    width: 35px;
	top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

#header-burger-icon span
{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition-property: all;
    transition-duration: 0.2s;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #cc0000;
}

#header-burger-icon span:nth-child(1) {
    top: 7px;
}

#header-burger-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
}

#header-burger-icon span:nth-child(2) {
    top: 18px;
}

#header-burger-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#header-burger-icon span:nth-child(3) {
    top: 29px;
}

#header-burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}
/* Fin création menu burger */

#header-title p
{
    margin: 0;
    padding: 2px 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px #cc0000;
    font-size: 22px;
}

/* Début menu */
#header-menu
{
    background-color: #4d4d4d;
}

#header-menu ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

#header-menu li
{
    
}

#header-menu ul a
{
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px white;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

#header-menu ul a:hover
{
    text-shadow: 1px 1px 4px black;
    box-shadow: inset 0px 0px 15px white;
}

#header-menu ul a:active
{
    text-shadow: none;
    background-color: #333333;
}
/* Fin menu */

/* Début fenêtre se connecter */
#login-window
{
    position: fixed;
    display: none;
    z-index: 9999;
    background-color: white;
    color: black;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    font-size: 18px;
}

/* icône croix (tête de mort) */ 
#close-login-window
{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: #4d4d4d;
    text-shadow: 1px 1px 1px black;
}

#login-window #pseudo-connect, #login-window #password-connect
{
    border: 1px solid rgb(190, 190, 190);
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
}

#login-window input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#login-window input[type="submit"]:hover
{
    ;
}

#login-window p a
{
    color: blue;
}

/* Message : "Pseudo ou mot de passe incorrect" */
#pseudo-pass-alert
{
    display: none;
    color: red;
}
/* Fin fenêtre se connecter */
/* Fin header */

/* Début section */
section
{
    margin: 0 2%;
}

#opaque-window
{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Début formulaire inscription */
#registration h1
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    /* word-break: break-all; */
}

#form-registration
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 450px;
    padding: 20px;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #333333;
    background-color: white;
 }


#form-registration p
{
    margin-bottom: 40px;
}

#form-registration input
{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid rgb(209, 209, 209);
    padding-left: 10px;
}

#form-registration p:last-child
{
    margin-bottom: 18px;
}

#form-registration input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#form-registration span
{
    color: green;
}

#form-registration span#alert-password
{
    color: blue;
}

#form-registration span.red-message
{
    color: red;
}
/* Fin formulaire inscription */

/* Début page home */
#home #home-content
{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 35px;
}

#home h1
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    /* word-break: break-all; */
}

#forums-games
{
    align-self: flex-start;
    background-color: white;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    padding: 25px;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
}

#forums-games div:last-child
{
    margin-bottom: 0;
}

#forums-games a
{
    color: blue;
}

#nb-forums, #nb-games
{
    margin-bottom: 30px;
}

#nb-forums h2, #nb-games h2, #tgd-players h2
{
    margin-top: 0;
    margin-bottom: 0;
    color: #333333;
}

#nb-forums p, #nb-games p
{
    margin-top: 10px;
    margin-bottom: 0;
}

#nb-forums i
{
    color: darkgoldenrod;
}

#nb-games i
{
    color: orangered;
}

#tgd-players i
{
    color: red;
}

#tgd-players ul
{
    margin: 0;
    padding-left: 20px;
}

#tgd-players ul li
{
    padding-top: 10px;
    font-size: 20px;
}
/* Fin page home */

/* Début messages instantanés */
#instant-messages
{
    width: 400px;
    border-radius: 4px 4px 0 0;
    background-color: lightsteelblue;
    border: 1px solid mediumslateblue;
    box-shadow: 0px 0px 15px black;
    box-sizing: border-box;
    align-self: flex-start;
}

#connect-to-message
{
    color: blue
}

#instant-messages #no-connected
{
    padding: 5px;
}

#instant-messages #no-connected p
{
    margin: 0;
}

#form-add-message
{
    padding: 10px 5px;
}

#form-add-message label
{
    padding-left: 5px;
}

#form-add-message input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#form-add-message #message-required
{
    display: none;
    color: red;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 5px;
    text-shadow: 0px 0px 5px white;
}

#add-message
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
}

#all-messages
{
    overflow: auto;
    max-height: 450px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(147, 174, 210);
    box-shadow: inset 0px 2px 20px #333333;
}

#all-messages #none-instant-message
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 0px 0px 15px #333333;
    border-radius: 4px;
    display: none;
}

#all-messages > div
{
    padding: 5px;
    margin-top: 10px;
    word-wrap: break-word;
    background-color: white;
    box-shadow: inset 0px 0px 10px #333333;
    border-radius: 4px;
}

#all-messages > div .mini-image-avatar
{
    width: 18px;
}

#all-messages > div > p.message-pseudo
{
    display: inline-block;
    margin: 0;
}

#all-messages > div > p.message-date
{
    margin: 0;
    font-size: 12px;
}

#all-messages > div > p:last-child
{
    margin-top: 5px;
    margin-bottom: 0;
}
/* Fin messages instantanés */

/* Début page account */
#account h1, #account-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#account-content
{
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    word-wrap: break-word;
}
    
#account-infos
{
    display: flex;
}

#container-img-avatar p
{
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

#btn-modify-avatar
{
    text-decoration: none;
    padding-top: 5px;
    color: blue;
}

#infos-pseudo-email
{
    margin-left: 25px;
    width: 100%;
}

#image-avatar
{
    display: block;
    max-width: 150px;
    border: 1px solid mediumslateblue;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 4px;
    box-sizing: border-box;
}

#close-avatar-window
{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: #4d4d4d;
    text-shadow: 1px 1px 1px black;
}

#form-avatar-window
{
    position: fixed;
    display: none;
    z-index: 9999;
    background-color: white;
    color: black;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    font-size: 18px;
}

#form-avatar-window [type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#form-avatar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

#max-file-avatar
{
    display: none;
    color: red;
}

#accepted-file-avatar
{
    color: blue;
}
/* Fin page account */

/* Début page Nos jeux */
#all-games h1, #games-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#all-games-content
{
    
}

#no-list-games p
{
    margin: 0;
}

#no-list-games, .game-content
{
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    word-wrap: break-word;
}

.game-content h2
{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.image-game
{
    display: block;
    width: 180px;
    margin: auto;
}

.game-extract
{
    margin-top: 10px;
    margin-bottom: 0;
}

.game-extract a
{
    color: blue;
}
/* Fin page Nos jeux */

/* Début page jeu */
#game-details h1, #game-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#game-content
{
    padding: 10px 40px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    word-wrap: break-word; 
}

#game-header p:first-child
{
    margin-top: 0;
}

#game-image-text div p
{
    margin-bottom: 0;
}

#game-detail-image
{
    width: 70%;
    display: block;
}
/* Fin page jeu */

/* Début page création topic */
#create-topic h1, #create-topic-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#create-topic-content
{
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#form-create-topic div
{
    box-sizing: border-box;
}

#form-create-topic input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#create-topic #topic-exist, #create-topic #no-title-topic, #create-topic #no-content-topic
{
    display: none;
    color : red;
}
/* Fin page création topic */
    
/* Début page forums */
#forums h1, #forums-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#forums-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#no-list-forums
{
    margin: 10px;
}

#forums-content .forum-categorie:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

#forums-content .forum-categorie:nth-child(even)
{
    background-color: white; 
}

.forum-categorie
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.forum-categorie .forum-cat-topics
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.forum-cat-topics h2
{
    margin: 0;
}

.forum-cat-topics h2 a
{
    color: blue;
    font-size: 22px;
}

.forum-cat-topics > div
{
    width: 60%;
    word-wrap: break-word;
}

.forum-cat-topics > p
{
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
}

.forum-categorie > p
{
    margin-left: 5%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 35%;
}
/* Fin page forums */

/* Début page forumTopics */
#forum h1, #forum-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#forum-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#user-add-new-topics a
{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    font-weight: bold;
}

#connect-add-topic a
{
    font-size: 18px;
    color: blue;
}

#none-topics
{
    margin: 10px;
}

#forum-content .topics:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

#forum-content .topics:nth-child(even)
{
background-color: white; 
}

.topics
{
    padding: 10px;
}

.topics h2
{
    margin: 0;
}

.topics h2 a
{
    font-size: 22px;
    color: blue;
}

.topics > div p
{
    margin: 5px 0;
}

/* Fin page forumTopics */

/* Début page topic */
#topic h1, #topic-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#topic-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    /* width: 100% */
}

.all-messages-topic
{
    padding: 10px;
    display: flex;
}

.all-messages-topic:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.all-messages-topic:nth-child(even)
{
    background-color: white; 
}

.info-user > p .topic-image-avatar
{
    display: block;
    width: 100px;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 4px;
    box-sizing: border-box;
}

#topic-content .all-messages-topic:nth-child(1) .topic-image-avatar
{
    border: 1px solid mediumslateblue;
}

.info-user p:nth-child(1)
{
    margin: 0;
    width: 100px
}

.info-user p:nth-child(2)
{
    margin: 0;
    margin-top: 5px;
    width: 100px
}

.info-user p:nth-child(3)
{
    margin: 0;
    width: 100px
}

.info-message
{
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    /* flex-grow: 1; */
    width: 100%;
}

.info-message p:first-child
{
    margin-top: 0;
}

.info-message > div
{
    word-wrap: break-word;
}

.already-report
{
    color: red;
}

.connect-to-report-reply a
{
    color: blue;
}

#form-reply-to-message
{
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    /* width: 100% */
}

#form-reply-to-message div
{
    box-sizing: border-box;
}

#form-reply-to-message input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#no-reply-to-message
{
    color: red;
    display: none;
}
/* Fin page topic */

/* Début page home (administration) */
#admin-home h1
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
}

#admin-home-content
{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 35px;
}

#admin-option
{
    align-self: flex-start;
    background-color: white;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    padding: 25px;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
    background-color: white;
}

#admin-option a
{
    color: blue;
}
#forum-option h2, #game-option h2, #account-option h2
{
    margin-top: 0;
    margin-bottom: 0;
    color: #333333;
}

#forum-option
{
    margin-bottom: 30px;
}

#forum-option i
{
    color: darkgoldenrod;
}

#game-option
{
    margin-bottom: 30px;
}

#game-option i
{
    color: orangered;
}

#account-option i
{
    color: mediumpurple;
}

#forum-option p
{
    margin-top: 10px;
    margin-bottom: 0;
}

#game-option p
{
    margin-top: 10px;
    margin-bottom: 0; 
}

#account-option p
{
    margin-top: 10px;
    margin-bottom: 0; 
}

/* Fin page home (administration) */

/* Début page allAccounts (administration) */
#admin-all-accounts h1, #admin-all-accounts-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#admin-all-accounts-content
{  
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    /* width: 100% */
}

.all-account-img-info
{
    padding: 10px;
    display: flex;
}

.all-account-img-info:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.all-account-img-info:nth-child(even)
{
    background-color: white; 
}

.all-account-img img
{
    display: block;
    width: 70px;
    border: 1px solid mediumslateblue;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 4px;
    box-sizing: border-box;
}

.all-account-info
{
    margin-left: 10px;
}

.all-account-info p
{
    margin :0;
}

.all-account-info a
{
    color: blue;
}

.all-account-info p:first-child
{
    color : orangered;
}
/* Fin page allAccounts (administration) */

/* Début page account (administration) */
{
    
    color: black;
    font-weight: bold;
}

#admin-infos-account h1, #admin-infos-account-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#admin-account-content
{
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#admin-account-img-info
{
    display: flex;
}

#admin-account-img img
{
    display: block;
    width: 80px;
    border: 1px solid mediumslateblue;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 4px;
    box-sizing: border-box;
}

#admin-account-info
{
    margin-left: 15px;
}

#admin-account-info > p
{
    margin: 0;
}

#admin-account-info > p:first-child
{
    color: orangered;
}

#admin-account-form p
{
    margin-top: 10px;
    margin-bottom: 0px;
    color: orangered;
    
}

#form-add-rights input[type="radio"]
{
    margin-bottom: 10px;
    cursor: pointer;
}

#form-add-rights input[type="reset"], #form-add-rights input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}
/* Fin page account (administration) */

/* Début page reportedMessages (administration) */
#admin-reported-messages h1, #admin-reported-messages-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#admin-reported-messages-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#none-reported-message p
{
    margin: 10px;
}

.verif-message-reported
{
    padding: 10px;
}

.verif-message-reported > div > p:first-child
{
    margin-top: 0;
}

.verif-message-reported > p
{
    margin-top: 10px;
}

.verif-message-reported:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.verif-message-reported:nth-child(even)
{
    background-color: white; 
}

.validate-delete-message
{
    display: flex;
}

.validate-message
{
    box-shadow: 2px 2px 5px #333333;
    color: black;
    background-color: rgb(102, 255, 102);
    border: 1px solid mediumslateblue;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
}

.delete-message
{
    box-shadow: 2px 2px 5px #333333;
    color: black;
    background-color: rgb(255, 102, 102);
    border: 1px solid mediumslateblue;
    padding: 5px;
    text-decoration: none;
}
/* Fin page reportedMessages (administration) */

/* Début page forums (administration) */
#admin-forums h1, #admin-forums-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#add-forum-content, #admin-forums-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

p#no-admin-list-forums
{
    margin: 10px;
}

#add-forum-content
{
    padding: 10px;
    box-sizing: border-box;
}

#add-forum-content
{
    background-color: rgb(230, 230, 230);
}

#add-forum-content input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

.admin-forum-cat-topics
{
    padding: 10px;
}

.admin-forum-cat-topics h2
{
    margin: 0;
}

.admin-forum-cat-topics a
{
    color: blue;
    font-size: 22px;
}

.admin-forum-cat-topics p
{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.admin-forum-cat-topics:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.admin-forum-cat-topics:nth-child(even)
{
    background-color: white; 
}

#admin-forums #add-forum-exist, #add-forum-empty
{
    display: none;
    color: red;
}
/* Fin page forums (administration) */

/* Début page forumTopics (administration) */
#admin-forum h1, #admin-forum-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#admin-forum #forum-exist, #admin-forum #no-forum
{
    display: none;
    color: red;
}

#rename-forum-content, #admin-topics-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#rename-forum-content
{
    padding: 10px;
}

#form-edit-forum > label
{
    font-weight: bold;
}

#forum-radio
{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

#forum-radio > div:first-child
{
    margin-right: 20px;
}

#form-edit-forum input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#no-admin-list-topics
{
    margin: 10px;
}

.admin-topic-messages:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.admin-topic-messages:nth-child(even)
{
    background-color: white; 
}

.admin-topic-messages
{
    padding: 10px;
}

.admin-topic-messages h2
{
    margin: 0;
}

.admin-topic-messages h2 a
{
    color: blue;
    font-size: 22px;
}

.admin-topic-messages > div p
{
    margin: 5px 0;
}

/* Fin page forumTopics (administration) */

/* Début page Topic (administration) */
#admin-topic h1, #admin-topic-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
}

#rename-topic-content, #admin-messages-content
{
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
}

#rename-topic-content
{
    padding: 10px;
}

#form-edit-topic > label
{
    font-weight: bold;
}

#topic-radio
{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

#topic-radio > div:first-child
{
    margin-right: 20px;
}

#form-edit-topic input[type="submit"]
{
    cursor: pointer;
    box-shadow: 2px 2px 5px #333333;
}

#admin-topic #topic-exist, #admin-topic #no-topic
{
    display: none;
    color: red;
}

.admin-infos-user-message
{
    padding: 10px;
}

.admin-infos-user-message:nth-child(odd)
{
    background-color: rgb(230, 230, 230); 
}

.admin-infos-user-message:nth-child(even)
{
    background-color: white; 
}

.admin-infos-user-message > p
{
    margin-top: 5px;
    margin-bottom: 5px;    
}

.admin-infos-user
{
    display: flex;
}

.admin-infos-user > p
{
    margin-top: 0;
    margin-bottom: 0;
}

.admin-infos-message > div
{
    display: flex;
    margin-top: 10px;
}

.topic-message-reported
{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.validate-topic-message
{
    box-shadow: 2px 2px 5px #333333;
    color: black;
    background-color: rgb(102, 255, 102);
    border: 1px solid mediumslateblue;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
}

.delete-topic-message
{
    box-shadow: 2px 2px 5px #333333;
    color: black;
    background-color: rgb(255, 102, 102);
    border: 1px solid mediumslateblue;
    padding: 5px;
    text-decoration: none;
}
/* Fin page Topic (administration) */

/* Début page Nos jeux (administration) */
#admin-all-games h1, #admin-all-games-return a
{
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    /* word-break: break-all; */
}

#admin-no-list-games p
{
    margin: 0;
}

#admin-add-topic a
{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: grey;
    border-radius: 4px;
    color: white;
    text-shadow: 5px 5px 3px black;
    box-shadow: 0px 0px 15px #333333;
    padding: 5px 10px;
    border: 1px solid mediumslateblue;
    text-decoration: none;
    font-weight: bold;
}

#admin-no-list-games, .admin-game-content
{
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px #333333;
    border: 1px solid #4d4d4d;
    border-top: 8px solid #4d4d4d;
    border-bottom: 8px solid #4d4d4d;
    border-radius: 4px;
    background-color: white;
    word-wrap: break-word;
}

.admin-game-content h2
{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.admin-image-game
{
    display: block;
    width: 180px;
    margin: auto;
}

.admin-game-extract
{
    margin-top: 10px;
    margin-bottom: 0;
}

.admin-game-extract a
{
    color: blue;
}
/* Fin page Nos jeux (administration) */

/* Début page createGame (administration) */
#admin-create-game .messages-create-game
{
    display: none;
    color: red;
}

#admin-create-game #accepted-file-game
{
    color: blue;
}
/* Fin page createGame (administration) */

/* Début page modifyGame (administration) */
#admin-edit-game .messages-edit-game
{
    display: none;
    color: red;
}

#admin-edit-game #accepted-edit-file-game
{
    color: blue;
}
/* Fin page modifyGame (administration) */
/* Fin section */

/* Début footer */
footer
{
    background-color: #333333;
    color: white;
}

footer > div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer #social-icons
{
    display: flex;
}

footer #social-icons img
{
    height: 30px;
    display: block;
}

footer p
{
    margin: 5px 5px;
}

footer #copyright p
{
    text-align: right;
}
/* Fin footer */

/* Début media queries */
/* Début media query max-width: 800px */
@media all and (max-width: 800px){

    /* Début header */
    #header-title-menu
    {

    }
    
    #header-burger-icon
    {
        cursor: pointer;
        display: block;
    }
    
    /* Début menu */
    #header-menu
    {
        border-radius: 0 0 2px 2px;
        display: none;
        position: absolute;
        width: 100%;
    }
    
    #header-menu.open
    {
        display: block;
    }
    
    #header-menu ul
    {
        flex-direction: column;
        text-align: center;
    }
    /* Fin menu */
    /* Fin header */
    
    /* Début section */
    /* Début formulaire inscription */
    #registration h1
    {
        font-size: 25px;
    }
    
    #form-registration p:first-child
    {
        margin-top: 0;
    }
    
    #form-registration p, #form-registration p:last-child
    {
        margin-bottom: 0;
    }
    /* Fin formulaire inscription */
    
    /* Début messages instantanés */
    #instant-messages
    {
        width: 250px;
    }
    /* Fin messages instantanés */
    
    /* Début page home */
    #home #home-content
    {
        padding-top: 0;
        padding-bottom: 15px;
    }
    
    #home h1
    {
        font-size: 25px;
    }
    /* Fin page home */
    
    /* Début page forums */
    #forums h1
    {
        font-size: 25px;
    }
    
    .forum-categorie
    {
        flex-direction: column;
        align-items: inherit;
    }
    
    .forum-categorie .forum-cat-topics
    {
        width: auto;
        display: block;
    }
    
    .forum-cat-topics > div
    {
        width: auto;
    }
    
    .forum-cat-topics > p
    {
        width: auto;
        margin: 5px 0;
    }
    
    .forum-categorie > p
    {
        width: auto;
        margin-left: 0;
    }
    /* Fin page forums */
    
    /* Début page forumTopics */
    #forum h1
    {
        font-size: 25px;
    }
    /* Fin page forumTopics */
    
    /* Début page topic */
    #topic h1
    {
        font-size: 25px;
    }
    /* Fin page topic */
    
    /* Début page création topic */
    #create-topic h1
    {
        font-size: 25px;
    }
    /* Fin page création topic */
    
    /* Début page Nos jeux */
    #all-games h1
    {
        font-size: 25px;
    }
    /* Fin page Nos jeux */
    
    /* Début page jeu */
    #game-content
    {
        padding: 10px;
    }
    
    #game-details h1
    {
        font-size: 25px;
    }
    
    #game-detail-image
    {
        width: 80%;
    }
    /* Fin page jeu */
    
    /* Début page account */
    #account h1
    {
        font-size: 25px;
    }
    /* Fin page account */
    
    /* Début page home (administration) */
    #admin-home h1
    {
        font-size: 25px;
    }
    
    #admin-home-content
    {
        padding-top: 0;
        padding-bottom: 15px;
    }
    /* Début page home (administration) */
    
    /* Début page allAccounts (administration) */
    #admin-all-accounts h1
    {
        font-size: 25px;
    }
    /* Fin page allAccounts (administration) */
    
    /* Début page account (administration) */
    #admin-infos-account h1
    {
        font-size: 25px;
    }
    /* Fin page account (administration) */
    
    /* Début page reportedMessages (administration) */
    #admin-reported-messages h1
    {
        font-size: 25px;
    }
    /* Fin page reportedMessages (administration) */
    
    /* Début page forums (administration) */
    #admin-forums h1
    {
        font-size: 25px;
    }
    /* Fin page forums (administration) */
    
    /* Début page forumTopics (administration) */
    #admin-forum h1
    {
        font-size: 25px;
    }
    /* Fin page forumTopics (administration) */
    
    /* Début page topic (administration) */
    #admin-topic h1
    {
        font-size: 25px;
    }
    /* Fin page topic (administration) */
    
    /* Début page Nos jeux (administration) */
    #admin-all-games h1
    {
        font-size: 25px;
    }
    /* Fin page Nos jeux (administration) */
    /* Fin section */
}
/* Fin media query max-width: 800px */

/* Début media query max-width: 600px */
@media all and (max-width: 600px){
    
    /* Début section */
    /* Début page home */
    #home
    {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #home h1
    {

    }
    
    #home #home-content
    {
        flex-direction: column;
        align-items: center;

    }
    
    #forums-games
    {
        align-self: inherit;
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
    }
    
    #nb-forums, #nb-games
    {
        margin-bottom: 15px;
    }
    
    #nb-forums p, #nb-games p
    {
        margin-top: 5px;
    }
    
    #tgd-players ul li
    {
        padding-top: 5px;
    }
    
    #instant-messages
    {
        width: 100%;
    }
    /* Fin page home */
    
    /* Début page topic */
    .all-messages-topic
    {
        flex-direction: column;
    }
    
    .info-user
    {
        width: 100%;
        padding-bottom: 5px;
    }
    
    .info-user p:nth-child(1)
    {
        width: auto;
    }

    .info-user p:nth-child(2)
    {
        width: auto;
    }

    .info-user p:nth-child(3)
    {
        width: auto;
    }
    
    .info-user > p .topic-image-avatar
    {
        width: 50px;
    }
        
    .info-message
    {
        padding: 0;
    }
    
    .info-message
    {
        padding-top: 5px;
        border-top: 1px solid #4d4d4d;
        width: 100%;
    }
    
    .info-message p:first-child
    {
        margin-top: 0;
        margin-bottom: 5px;
        text-align: right;
    }
    
    .info-message p:last-child
    {
        margin-bottom: 0;
        margin-top: 5px;
    }
    /* Fin page topic */
    
    /* Début page account */
    #account-infos
    {
        flex-direction: column;
    }
    
    #image-avatar
    {
        margin: auto;
    }
    
    #infos-pseudo-email
    {
        margin-left: 0;
        margin-top: 5px;
    }
    
    #infos-pseudo-email p:first-child
    {
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    #infos-pseudo-email p:last-child
    {
        margin-top: 5px;
        margin-bottom: 0;
    }
    /* Fin page account */
    
    /* Début page home (administration) */
    #admin-home-content
    {
        flex-direction: column;
        align-items: center;
    }
    
    #admin-option
    {
        align-self: inherit;
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
    }
    
    #forum-option
    {
        margin-bottom: 15px;
    }

    #game-option
    {
        margin-bottom: 15px;
    }
    
    #forum-option p
    {
        margin-top: 5px;
    }

    #game-option p
    {
        margin-top: 5px;
    }

    #account-option p
    {
        margin-top: 5px;
    }
    /* Fin page home (administration) */
    /* Fin section */
}
/* Fin media query max-width: 600px *

/* Début media query max-width: 500px */
@media all and (max-width: 500px){
    
    /* Début page jeu */
    #game-detail-image
    {
        width: 100%;
    }
    /* Fin page jeu */
    
    /* Début page allAccounts (administration) */
    .all-account-img-info
    {
        flex-direction: column;
    }
    
    .all-account-img img
    {
        width: 50px;    
    }
    
    .all-account-info
    {
        margin-left: 0;
    }
    /* Fin page allAccounts (administration) */
    
    /*Début page account (administration) */
    #admin-account-img-info
    {
        flex-direction: column;
    }
    
    #admin-account-info
    {
        margin-top: 5px;
        margin-left: 0;
    }
    /*Fin page account (administration) */
    
    /* Début page forums (administration) */

    /* Fin page forums (administration) */
    
    /* Début page forumTopics */
    #forum-radio
    {
        flex-direction: column;
    }
    
    #forum-radio > div:first-child
    {
        margin-right: 0;
    }
    /* Fin page forumTopics */
    
    /* Début page forumTopics */
    #topic-radio
    {
        flex-direction: column;
    }
    
    #topic-radio > div:first-child
    {
        margin-right: 0;
    }
    /* Fin page forumTopics */
    
    /* fenêtre se connecter */
    #login-window
    {
        width: 80%;
    }
    
    /* Début page account */
    /* fenêtre modifier avatar */
    #form-avatar-window
    {
        width: 80%;
    }
    /* Fin page account */
}
/* Fin media query max-width: 500px */
/* Fin media queries */