body
{
    background-image: url("../images/mosaics-background.jpg");
    background-repeat: repeat;
    background-size: 250px;
}

#body-block
{
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    height: 1800px;
    border: 1px solid black;
    background-color: white;
}

/* Début header */
header
{
    position: relative;
}

#header-title
{
    position: relative;
    background-color: #333333;
}

/* Début création menu burger */
#header-burger-icon
{
    display: none;
    position: absolute;
    height: 40px;
    width: 35px;
	top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

#header-burger-icon span
{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition-property: all;
    transition-duration: 0.2s;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #cc0000;
}

#header-burger-icon span:nth-child(1) {
    top: 7px;
}

#header-burger-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
}

#header-burger-icon span:nth-child(2) {
    top: 18px;
}

#header-burger-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#header-burger-icon span:nth-child(3) {
    top: 29px;
}

#header-burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}
/* Fin création menu burger */

#header-title p
{
    margin: 0;
    padding: 2px 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px #cc0000;
    font-size: 22px;
}

/* Début menu */
#header-menu
{
    background-color: #4d4d4d;
}

#header-menu ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

#header-menu li
{
    
}

#header-menu ul a
{
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px white;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

#header-menu ul a:hover
{
    text-shadow: 1px 1px 4px black;
    box-shadow: inset 0px 0px 15px white;
}

#header-menu ul a:active
{
    text-shadow: none;
    background-color: #333333;
}
/* Fin menu */

/* Début fenêtre se connecter */
#login-window
{
    position: fixed;
    display: none;
    z-index: 9999;
    background-color: white;
    color: black;
    border: 1px solid #333333;
    border-top: 8px solid #333333;
    border-bottom: 8px solid #333333;
    border-radius: 4px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    font-size: 18px;
}

/* icône croix */ 
#close-login-window
{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: #333333;
}

#login-window #pseudo-connect, #login-window #password-connect
{
    border: 1px solid rgb(190, 190, 190);
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
}

#login-window input[type="submit"]
{
    cursor: pointer;
    box-shadow: 0px 3px 3px rgb(51, 51, 51);
}

#login-window input[type="submit"]:hover
{
    background-color: rgb(175, 206, 207);
}

/* Message : "Pseudo ou mot de passe incorrect" */
#pseudo-pass-alert
{
    color: red;
}
/* Fin fenêtre se connecter */
/* Fin header */

/* Début section */
section
{
    margin: 0 5%;
}

#opaque-window
{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Début formulaire inscription */
#form-registration
{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 20px;
    border-top: 8px solid #333333;
    border-bottom: 8px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    border-radius: 4px;
 }


#form-registration p
{
    margin-bottom: 40px;
}

#form-registration input
{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid rgb(209, 209, 209);
    padding-left: 10px;
}

#form-registration p:last-child
{
    margin-bottom: 18px;
}

#form-registration input[type="submit"]
{
    cursor: pointer;
}

#form-registration span
{
    color: green;
}

#form-registration span#alert-password
{
    color: blue;
}

#form-registration span.red-message
{
    color: red;
}

/* Fin formulaire inscription */

/* Début messages instantanés */
#add-read-messages
{
    max-width: 200px;
    border-radius: 0 5px 0 0;
    background-color: rgb(230, 238, 255);
}

#form-add-message
{
    padding: 5px;
}

#add-read-messages #no-connected
{
    padding: 5px;
}

#form-add-message #message-required
{
    display: none;
    color: red;
    margin-top: 0;
    margin-bottom: 5px;
}

#add-message
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
}

#all-messages
{
    overflow: auto;
    height: 300px;
    padding-top: 15px;
}

#all-messages #none-instant-message
{
    display: none;
}

#all-messages > div
{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    word-break: break-all;
    background-color: white;
    box-shadow: 1px 1px 10px white;
    border-radius: 5px;
}

#all-messages > div .mini-image-avatar
{
    width: 18px;
}

#all-messages > div > p.message-pseudo
{
    display: inline-block;
    margin: 0;
}

#all-messages > div > p.message-date
{
    margin: 0;
    font-size: 12px;
}

#all-messages > div > p:last-child
{
    margin-top: 5px;
}
/* Fin messages instantanés */

/* Début page account */
#account-infos
{
    display: flex;
}

#container-img-avatar
{

}

#btn-modify-avatar
{
    display: block;
    text-align: center;
    text-decoration: none;
}

#infos-pseudo-email
{
    margin-left: 25px;
}

#image-avatar
{
    display: block;
    width: 150px;
}

#close-avatar-window
{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: #333333;
}

#form-avatar-window
{
    position: fixed;
    display: none;
    z-index: 9999;
    background-color: white;
    color: black;
    border: 1px solid #333333;
    border-top: 8px solid #333333;
    border-bottom: 8px solid #333333;
    border-radius: 4px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    font-size: 18px;
}

#form-avatar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

#max-file-avatar
{
    display: none;
    color: red;
}

#accepted-file-avatar
{
    color: blue;
}
/* Fin page account */

/* Début page Nos jeux */
#all-games-content .image-game
{
    display: block;
    width: 100%;
}
/* Fin page Nos jeux */

/* Début page topic */
#none-messages-topic
{
    display: none;
}
/* Fin page topic */
/* Début page création topic */
#create-topic #topic-exist, #create-topic #no-title-topic, #create-topic #no-content-topic
{
    display: none;
    color : red;
}
/* Fin page création topic */

/* Début page forums */
#forums-content .forum-categorie:nth-child(odd)
{
    background-color: gray; 
}

#forums-content .forum-categorie:nth-child(even)
{
    background-color: cornflowerblue; 
}

.forum-categorie
{
    display: flex;
    align-items: center;
}

.forum-categorie .forum-cat-topics
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.forum-categorie > div:last-child
{
    width: 60%;
}

.forum-cat-topics > div:first-child
{
    width: 40%;
}

.forum-cat-topics > div:last-child
{
    width: 40%;
}
/* Fin page forums */
/* Début page forumTopics

/* Fin page forumTopics
/* Début page forums (administration) */
#admin-forums #forum-exist
{
    display: none;
    color: red;
}
/* Fin page forums (administration) */

/* Début page forumTopics (administration) */
#admin-forum #forum-exist, #admin-forum #no-forum
{
    display: none;
    color: red;
}
/* Fin page forumTopics (administration) */

/* Début page Topic (administration) */
#admin-topic #topic-exist, #admin-topic #no-topic
{
    display: none;
    color: red;
}
/* Fin page Topic (administration) */
/* Fin section */

/* Début media queries */

/* Début page createGame (administration) */
#admin-create-game .messages-create-game
{
    display: none;
    color: red;
}

#admin-create-game #accepted-file-game
{
    color: blue;
}
/* Fin page createGame (administration) */

/* Début media query max-width: 800px */
@media all and (max-width: 800px){

    /* Début header */
    #header-title-menu
    {

    }
    
    #header-burger-icon
    {
        cursor: pointer;
        display: block;
    }
    
    /* Début menu */
    #header-menu
    {
        border-radius: 0 0 2px 2px;
        display: none;
        position: absolute;
        width: 100%;
    }
    
    #header-menu.open
    {
        display: block;
    }
    
    #header-menu ul
    {
        flex-direction: column;
        text-align: center;
    }
    /* Fin menu */
    /* Fin header */
    
    /* Début section */
    /* Début formulaire inscription */
    #form-registration p:first-child
    {
        margin-top: 0;
    }
    
    #form-registration p, #form-registration p:last-child
    {
        margin-bottom: 0;
    }
    /* Fin formulaire inscription */
    
    /* Début page forums */
    .forum-categorie
    {
        flex-direction: column;
        align-items: inherit;
    }
    
    .forum-categorie .forum-cat-topics
    {
        width: auto;
        display: block;
    }
    
    .forum-categorie > div:last-child
    {
        width: auto;
    }
    
    .forum-cat-topics > div:first-child
    {
        width: auto;
    }
    
    .forum-cat-topics > div:last-child
    {
        width: auto;
    }
    /* Fin page forums */
    /* Fin section */
}
/* Fin media query max-width: 800px */

/* Début media query max-width: 500px */
@media all and (max-width: 500px){
    
    /* fenêtre se connecter */
    #login-window
    {
        width: 80%;
    }
    
    /* fenêtre modifier avatar */
    #form-avatar-window
    {
        width: 80%;
    }
}
/* Fin media query max-width: 500px */
/* Fin media queries */